@{
    ViewData["Title"] = "Home Page";
}

<h1 class="header center orange-text">Log your latest travel!</h1>
<div class="row center">
    <h5 class="header col s12 light">You need to login first though</h5>
</div>
<div class="row center">
    <a class="btn-large waves-effect waves-light " href="/Account/Login">Login</a>
</div>
